<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/styles.css" rel="stylesheet">
</head>
<body>
    <h1>Mini Message Board</h1>
    <button onclick="window.location.href='/new'">New Message</button>
    <% messages.forEach((message)=>{ %>
        <%- include('components/message',{message}); %>
        <br>
     <% }) %>
    
   

</body>
</html>